/* header related styles */

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.main-header {
    text-align: center;
    background-image: url('/images/Banner-Image.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin: 50px auto 0;
}

.header-content {
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, .9),
            rgba(0, 0, 0, .7),
            rgba(0, 0, 0, .4),
            rgba(0, 0, 0, 0));
    border-radius: 26px;




}

.hny {
    color: rgb(249, 249, 249);
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 176px 530px 0px 530px;
}

.new-party {
    color: rgb(249, 249, 249);
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    padding: 0px 344px 155px 344px;
}

/* main section related styles */
/* section-1 */
.section-1 {
    text-align: center;
    margin: 50px auto 0;

}

.discount {
    color: #F00;
    font-family: 'inter', serif;
    font-size: 88px;
    font-weight: 700;
    margin: 120px 0 48px 0;
}

.paragraph-1 {
    color: #F00;
    font-family: 'inter', serif;
    font-size: 24px;
    font-weight: 500;
}

.categories-1 {
    color: #070211;
    font-family: 'inter', serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.nypng {
    margin-top: 48px;
    margin-bottom: 120px;
}

/* section-2 */
.section-2 {
    background-image: url('/images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin: 50px auto 120px;
}

.section-2-title {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding: 126px 552px 0px 125px;
}

.section-2-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'inter', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 497px 0px 126px;
}

.btn-1 {
    color: #FFF;
    font-family: 'inter', serif;
    font-size: 20px;
    font-weight: 700;
    margin: 48px 0 0 158px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.section-2>.year-2024 {

    width: 319.83px;
    height: 464.662px;
    margin: 68px 138px 67px 863px;
    position: absolute;
}

.banner-content {
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, .9),
            rgba(0, 0, 0, .5),
            rgba(0, 0, 0, .3),
            rgba(0, 0, 0, 0));
    border-radius: 16px;
    width: 1320px;
    height: 600px;
}

/* section-3 */
.section-3 {
    background-image: linear-gradient(180deg,
            rgba(255, 0, 0, 0.10) 0%,
            rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    border-radius: 15px;
    margin: 50px auto 120px;
}

.section-3-content {
    color: #070211;
    text-align: center;
    font-family: 'inter', serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 50px;
    text-transform: capitalize;
    padding: 100px 0 385px;
}

.pdt {
    color: #F00;
}

.btn-join-now {
    color: #FFF;
    font-family: 'inter', serif;
    font-size: 20px;
    border: none;
    background: #F00;
    border-radius: 8px;
    padding: 17px 33px;
}

.btn-join-now-1 {
    color: #FFF;
    font-family: 'inter', serif;
    font-size: 20px;
    border: none;
    background: #F00;
    border-radius: 8px;
    padding: 17px 33px;
    margin: 40px 0 140px 158px;
}

/* section-4 */
.section-4 {
    background-color: #ffffff;
    width: 1320px;
    height: 463px;
    display: flex;
    margin: 0px auto 120px;
}

.nyo-column {
    text-align: left;
}

.title-nbo {
    color: #F00;
    font-family: 'inter', serif;
    font-size: 24px;
    font-weight: 500;
    padding: 104px 0 0 0;
}

.coming-soon {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 16px 0 0 0;
}

.ring-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'inter', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 22px 0 0 0;
}

.nyo-picture {
    background-image: url('/images/Ellipse\ 1.png');
    background-repeat: no-repeat;
    border: 15px solid #F00;
    width: 364px;
    height: 290px;
    padding: 50px;
    border-radius: 100%;
    background-position: center;
}

.nyo-column-2{
    text-align: left;
}

.nyo-2024 {
    color: #F00;
    font-family: 'inter', serif;
    font-size: 48px;
    font-weight: 700;
    padding: 112px 0 0 118px;
}

.paragraph-2 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'inter', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 16px 0 0 118px;
}

.happy-png{
    padding: 40px 0 0 118px;
}