/* header related styles */

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.main-header {
    text-align: center;
    background-image: url('../images/Banner-Image.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin: 50px auto 0;
}

.header-content {
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, .9),
            rgba(0, 0, 0, .7),
            rgba(0, 0, 0, .4),
            rgba(0, 0, 0, 0));
    border-radius: 26px;




}

.hny {
    color: rgb(249, 249, 249);
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 176px 530px 0px 530px;
}

.new-party {
    color: rgb(249, 249, 249);
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    padding: 0px 344px 155px 344px;
}

/* main section related styles */
/* section-1 */
.section-1 {
    text-align: center;
    margin: 50px auto 0;

}

.discount {
    color: #F00;
    font-family: 'inter', serif;
    font-size: 88px;
    font-weight: 700;
    margin: 120px 0 48px 0;
}

.paragraph-1 {
    color: #F00;
    font-family: 'inter', serif;
    font-size: 24px;
    font-weight: 500;
}

.categories-1 {
    color: #070211;
    font-family: 'inter', serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.nypng {
    margin-top: 48px;
    margin-bottom: 120px;
}

/* section-2 */
.section-2 {
    background-image: url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin: 50px auto 120px;
}

.section-2-title {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding: 126px 552px 0px 125px;
}

.section-2-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'inter', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 497px 0px 126px;
}

.btn-1 {
    color: #FFF;
    font-family: 'inter', serif;
    font-size: 20px;
    font-weight: 700;
    margin: 48px 0 0 158px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.section-2>.year-2024 {

    width: 319.83px;
    height: 464.662px;
    margin: 68px 138px 67px 863px;
    position: absolute;
}

.banner-content {
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, .9),
            rgba(0, 0, 0, .7),
            rgba(0, 0, 0, .3),
            rgba(0, 0, 0, 0));
    border-radius: 16px;
    width: 1320px;
    height: 600px;
}

/* section-3 */
.section-3 {
    background-image: linear-gradient(180deg,
            rgba(255, 0, 0, 0.10) 0%,
            rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    border-radius: 15px;
    margin: 50px auto 120px;
}

.section-3-content {
    color: #070211;
    text-align: center;
    font-family: 'inter', serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 50px;
    text-transform: capitalize;
    padding: 100px 0 385px;
}

.pdt {
    color: #F00;
}

.btn-join-now {
    color: #FFF;
    font-family: 'inter', serif;
    font-size: 20px;
    border: none;
    background: #F00;
    border-radius: 8px;
    padding: 17px 33px;
}

.btn-join-now-1 {
    color: #FFF;
    font-family: 'inter', serif;
    font-size: 20px;
    border: none;
    background: #F00;
    border-radius: 8px;
    padding: 17px 33px;
    margin: 40px 0 140px 158px;
}

/* section-4 */
.section-4 {
    background-color: #ffffff;
    width: 1320px;
    height: 463px;
    display: flex;
    margin: 0px auto 120px;
}

.nyo-column {
    text-align: left;
}

.title-nbo {
    color: #F00;
    font-family: 'inter', serif;
    font-size: 24px;
    font-weight: 500;
    padding: 104px 0 0 0;
}

.coming-soon {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 16px 0 0 0;
}

.ring-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'inter', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 22px 0 0 0;
}

.nyo-picture {
    background-image: url('../images/Ellipse-1.png');
    background-repeat: no-repeat;
    border: 15px solid #F00;
    width: 364px;
    height: 290px;
    padding: 50px;
    border-radius: 100%;
    background-position: center;
}

.nyo-column-2 {
    text-align: left;
}

.nyo-2024 {
    color: #F00;
    font-family: 'inter', serif;
    font-size: 48px;
    font-weight: 700;
    padding: 112px 0 0 118px;
}

.paragraph-2 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'inter', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 16px 0 0 118px;
}

.happy-png {
    padding: 10px 0 0 118px;
}

/* section-5 */

.section-5 {
    width: 1320px;
    margin: 120px auto 0;
}

.holidays-50 {
    text-align-last: center;
    line-height: 10px;
}

.what-head {
    color: #070211;
    font-family: 'inter', serif;
    font-size: 24px;
    font-weight: 500;

}

.holidayss-title {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}

.holidays {
    color: #F00;
    font-size: 72px;
    font-weight: 900;
}

.Celebrate-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'inter', serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.gift-1 {
    background-image: url('../images/Rectangle-2.png');
    background-repeat: no-repeat;
    background-position: 0 100%;
    padding-left: 30px;
    padding-top: 20px;
    position: relative;
}

.redgirl-1 {
    padding: 20px 0px 224.5px 60px;
}
.discount-5{
    position: absolute;
    top:0;
    right:0;
    padding: 130px 285px 0 0;

}

/* section-6  */
.section-6 {
    width: 1320px;
    margin: 350px auto 0;
    background-color: #ffffff;
}

.best-gift-3 {
    color: #F00;
    font-family: 'inter', serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.product-title {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 0;

}

.paragraph-6 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'inter', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 15px;
    margin-bottom: 0;
}

.rac-1 {
    margin: 46px 11.5px 0 0;
    border: 2px solid #ffffff;
}

.rac-2 {
    margin: 46px 11.5px 0 0;
    border: 2px solid #ffffff;
}

.rac-3 {
    margin: 46px 0 0 0;
    border: 2px solid #ffffff;
}

.rac-4 {
    margin: 11.5px 11.5px 0 0;
    border: 2px solid #ffffff;
}

.rac-5 {
    margin: 11.5px 11.5px 0 0;
    border: 2px solid #ffffff;
}

.rac-6 {
    margin: 11.5px 0 0 0;
    border: 2px solid #ffffff;
}

/* hover effect */
.rac-1:hover {
    box-shadow:0px 0px 19px #000;
    transition:300ms ease-out ;
    border-radius: 20px;
    transform: scale(1.01);
   
}

.rac-2:hover {
    box-shadow:0px 0px 19px #000;
    transition:300ms ease-out ;
    border-radius: 20px;
    transform: scale(1.02);
    transition:300ms ease-out ;
}

.rac-3:hover {
    box-shadow:0px 0px 19px #000;
    transition:300ms ease-out ;
    border-radius: 20px;
    transform: scale(1.02);
    transition:300ms ease-out ;
}

.rac-4:hover {
    box-shadow:0px 0px 19px #000;
    transition:300ms ease-out ;
    border-radius: 20px;
    transform: scale(1.02);
    transition:300ms ease-out ;
}

.rac-5:hover {
    box-shadow:0px 0px 19px #000;
    transition:300ms ease-out ;
    border-radius: 20px;
    transform: scale(1.02);
    transition:300ms ease-out ;
}

.rac-6:hover {
    box-shadow:0px 0px 19px #000;
    transition:300ms ease-out ;
    border-radius: 20px;
    transform: scale(1.02);
    transition:300ms ease-out ;
}

/* section-7 */
.section-7 {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    margin: 120px auto 0;
}

.mail-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0 0;
}

.Subscribe-h1 {
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 40px;
}

.paragraph-7 {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'inter', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}

.input-button {
    display: flex;
    width: 648px;
    height: 72px;
    margin: 48px 336px 80px;
    font-family: 'inter', serif;
}

.email {
    padding: 25px 265px 25px 30px;
    border: none;
    border-radius: 50px 0 0 50px;
    font-size: 18px;
    font-weight: 400;
}

.sub {
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #F00;
    padding: 24px 56px;
    border-radius: 0 50px 50px 0;
}

/* footer section related styles */
.footer-container {
    background-color: #070211;
    width: 1500px;
    margin: 120px auto 0;
}

/* text contact info  */
.address-main {
    display: flex;
    width: 1320px;
}

.address-text {
    color: #FFF;
    font-family: 'inter', serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding: 115px 0 0 140px;
}

.image-icon {
    line-height: 40px;
    padding: 140px 0 0 540px;
}

.address-number {
    color: #FFF;
    font-family: 'inter', serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 7px;
}

.address-web {
    color: #FFF;
    font-family: 'inter', serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
}

.contact-info {
    width: auto;
    line-height: 0;
    padding: 125px 0 0 16px;
}

.hr-1 {
    width: 1320px;
    background-color: rgba(255, 255, 255, 0.15);
}

/* social media icon section */

.fb {
    padding: 48px 0 0 580px;
}

.x {
    padding: 48px 0 0 24px;
}

.ins {
    padding: 48px 0 0 24px;
}

.linkd {
    padding: 48px 0 0 24px;
}

.hr-2 {
    width: 1320px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-top: 48px;
}

.last-div {
    width: 1320px;
    color: #FFF;
    font-family:'inter',serif;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    /* padding-bottom: 120px; */
    margin: 0px auto 0;
    padding: 30px 0 40px;
    gap: 880px;
}
